{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : Modification du compte utilisateur{% endblock %}

{% block body %}
    <h1>Modification du compte utilisateur</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('profile_show') }}">Retour au profil</a>
{% endblock %}