{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : Compte utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro d'identifiant</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Adresse mail</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('profile_edit') }}">Modifier</a>
{% endblock %}