{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Créer nouvel Article{% endblock %}

{% block body %}
    <h1>Créer nouvel Article</h1>

    {{ include('admin_article/_form.html.twig') }}

    <a href="{{ path('admin_article_index') }}">Retour à la liste</a>
{% endblock %}