{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
<h1>Bienvenue sur le site de ZEUS EX MACHINA</h1>
<p>La Mythologie Grecque à portée de clic !</p>
{% endblock %}