{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
<h1>Bienvenue sur le site de ZEUS EX MACHINA</h1>
<p>La Mythologie Grecque à portée de clic !</p>
<br>
<div class="news-1">
    <div></div>
    <img class="w-50 w3-container w3-center w3-animate-opacity" src="{{ asset('images/ZEM05.png') }}" alt="">
</div>
{% endblock %}