{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Modification de la Catégorie de Personnage{% endblock %}

{% block body %}
    <h1>Modification de la Catégorie de Personnage</h1>

    {{ include('admin_categoriepersonnage/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_categoriepersonnage_index') }}">Retour à la liste</a>

    {{ include('admin_categoriepersonnage/_delete_form.html.twig') }}
{% endblock %}