{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : Personnages{% endblock %}

{% block body %}
    <h1>Personnages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            <tr>
                <td>{{ personnage.nom }}</td>
                <td>{{ personnage.presentation }}</td>
                <td><img class="w-25" src= "{{ asset('uploads/' ~ personnage.image) }}" ></td>
                <td>
                    <a href="{{ path('personnage_catalog_show', {'id': personnage.id}) }}">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}