{% extends 'base.html.twig' %}

{% block title %}ZEUS EX MACHINA : E-mail de réinitialisation du mot de passe envoyé !{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre boîte mail existe, alors vous recevrez un e-mail contenant un lien pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier qu'il ne soit pas tombé dans votre courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}