<form method="post" action="{{ path('admin_categoriearticle_delete', {'id': categorie_article.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_article.id) }}">
    <button class="btn">Supprimer</button>
</form>