{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Création d'un nouveau Paiement{% endblock %}

{% block body %}
    <h1>Création d'un nouveau Paiement</h1>

    {{ include('admin_paiement/_form.html.twig') }}

    <a href="{{ path('admin_paiement_index') }}">Retour à la liste</a>
{% endblock %}