<form method="post" action="{{ path('admin_legende_delete', {'id': legende.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ legende.id) }}">
    <button class="btn">Supprimer</button>
</form>