{% extends 'base.html.twig' %}

{% block title %}Edit Legende{% endblock %}

{% block body %}
    <h1>Edit Legende</h1>

    {{ include('admin_legende/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_legende_index') }}">back to list</a>

    {{ include('admin_legende/_delete_form.html.twig') }}
{% endblock %}
