{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Création d'une nouvelle Légende{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle Légende</h1>

    {{ include('admin_legende/_form.html.twig') }}

    <a href="{{ path('admin_legende_index') }}">Retour à la liste</a>
{% endblock %}