{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
<h1>Message envoyé !</h1>
<p>Bonjour cher(e) mortel(le) écrivant depuis l'adresse {{ mail }} !<br>
Les Dieux de l'Olympe ont bien reçu votre demande de contact et vous receverez une réponse dans les plus brefs délais.<br>
Nous vous souhaitons une très belle journée et nous vous disons à très bientôt. </p><br>
Cordialement,<br>
<strong>L'équipe de ZEUS EX MACHINA</strong><br>
<br>
<br>
<p>Récapitulatif de votre message</p>
<p>Objet : {{ objet }}</p>
<p>Message : {{ message }}</p>
{% endblock %}