{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Création d'une nouvelle Page{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle Page</h1>

    {{ include('admin_page/_form.html.twig') }}

    <a href="{{ path('admin_page_index') }}">Retour à la liste</a>
{% endblock %}