<header>
	<div class="container">
		<div class="mid">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{ asset('images/ZEM01b.png') }}" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
        					<h5>KRONOS</h5>
        					<p>Seigneur des Titans</p>
      					</div>
					</div>
					<div class="carousel-item">
						<img src="{{ asset('images/ZEM02b.png') }}" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
        					<h5>ZEUS</h5>
        					<p>Dieu des Dieux</p>
      					</div>
					</div>
					<div class="carousel-item">
						<img src="{{ asset('images/ZEM03b.png') }}" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
        					<h5>PROMÉTHÉE</h5>
        					<p>Voleur du Feu Sacré</p>
      					</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Suivant</span>
				</button>
			</div>
		</div>
	</div>
</header>
