<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('cgu') }}">Conditions générales d'utilisation et de vente</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('confidentialite') }}">Politique de confidentialité</a>
    </li>
  </div>
</nav>