<nav class="footer">
  <ul class="nav mt-5 d-lg-flex flex-column text-center">
    <li class="nav-item">
      <a class="nav-link text-reset" href="{{ path('mentionslegales') }}">Mentions légales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset" href="{{ path('cgu') }}">Conditions générales d'utilisation et de vente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset" href="{{ path('confidentialite') }}">Politique de confidentialité</a>
    </li>
  </ul>
</nav>