<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('mentionslegales') }}">Mentions légales</a> | <a class="navbar-brand" href="{{ path('cgu') }}">Conditions générales d'utilisation et de vente</a> | <a class="navbar-brand" href="{{ path('confidentialite') }}">Politique de confidentialité</a>
  </div>
</nav>