<form method="post" action="{{ path('admin_personnage_delete', {'id': personnage.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personnage.id) }}">
    <button class="btn">Supprimer</button>
</form>