{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Modification de Personnage{% endblock %}

{% block body %}
    <h1>Modification de Personnage</h1>

    {{ include('admin_personnage/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_personnage_index') }}">Retour à la liste</a>

    {{ include('admin_personnage/_delete_form.html.twig') }}
{% endblock %}