{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Création d'un nouveau Personnage{% endblock %}

{% block body %}
    <h1>Création d'un nouveau Personnage</h1>

    {{ include('admin_personnage/_form.html.twig') }}

    <a href="{{ path('admin_personnage_index') }}">Retour à la liste</a>
{% endblock %}