{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Modification de l'Auteur{% endblock %}

{% block body %}
    <h1>Modification de l'Auteur</h1>

    {{ include('admin_auteur/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_auteur_index') }}">Retour à la liste</a>

    {{ include('admin_auteur/_delete_form.html.twig') }}
{% endblock %}