{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION : Créer nouvel Auteur{% endblock %}

{% block body %}
    <h1>Créer nouvel Auteur</h1>

    {{ include('admin_auteur/_form.html.twig') }}

    <a href="{{ path('admin_auteur_index') }}">Retour à la liste</a>
{% endblock %}