<h1>Bonjour cher(e) mortel(le) écrivant depuis l'adresse {{ visiteur }} !</h1>
Les Dieux de l'Olympe ont bien reçu votre demande de contact et vous receverez une réponse dans les plus brefs délais.<br>
Nous vous souhaitons une très belle journée et nous vous disons à très bientôt.<br>
<br>
Cordialement,<br>
<br>
L'équipe de ZEUS EX MACHINA