Vous avez reçu un nouveau message :<br>
<br>
{#  On inclut le CSS dans une balise style car il n'existe pas encore de formatage universel des boîtes mail. #}
<div style="border: 1px solid #EEE; margin: 20px; padding: 20px;">
{{ message }}
</div>